# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
venv/

# Database
db.sqlite3

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
*.sqlite

# IDEs
.vscode/
.idea/

# Django migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py
